<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Index</h1>
        <div>
            <a href="@Url.Action("Logout", "Home")">Logout</a>
        </div>
    </div>
</body>
</html>