@using FileUploadTest.Models

@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div>
        @Html.EditorFor(Model => Model.UploadUrl)
    </div>
    
    <input type="submit" value="Submit"/>
}